extends base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        h5.admin-nav__heading User Settings
        ul.side-nav
          +navItem('#', 'Settings', 'settings', true)
          +navItem('/my-producers', 'My subscriptions', 'briefcase')
          //- +navItem('#', 'Billing', 'credit-card')

        -if (user.role === 'user')
          h5.admin-nav__heading 
            ul.side-nav
              +navItem('/create-producer', 'Create Subscription', 'map')

        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('#', 'Manage tours', 'map')
              +navItem('#', 'Manage users', 'users')
              +navItem('#', 'Manage reviews', 'star')
              +navItem('#', 'Manage bookings', 'briefcase')
        - if (user.role === 'producer')
          .admin-nav
            h5.admin-nav__heading Producer Settings
            ul.side-nav
              +navItem('#', 'Manage Sample Pack', 'map')

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings

          form.form.form-user-data
            .form__group
              label.form__label(for='firstName') Name
              input#firstName.form__input(type='text', value=`${user.firstName}`, required, name='firstName')
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email.form__input(type='email', value=`${user.email}`, required, name='email')
            .form__group.form__photo-upload
              img.form__user-photo(src=`/img/users/${user.imageLink}`, alt='User photo')
              
              input.form__upload(type='file', accept='image/*', id='imageLink', name = 'imageLink' )
              label(for='imageLink') Choose New Photo

            .form__group.right
              button.btn.btn--small.btn--green Save settings
              
        .line &nbsp;
        
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          form.form.form-user-password
            .form__group
              label.form__label(for='password-current') Current password
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
              label.form__label(for='password') New password
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirmed') Confirm password
              input#password-confirmed.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--green.btn--save-password Save password
